config AR6000_WLAN
        tristate "AR6000 wireless networking over SDIO"
	depends on MMC
        select WIRELESS_EXT
        default m
        help
          good luck.

config AR6000_WLAN_DEBUG
	bool "Enable retrieval of firmware debugging information"
	depends on AR6000_WLAN
	default n
	help
	  The AR6k firmware maintains a log of debugging events that
	  gets flushed to the host on various occasions. Retrieval of
	  this data is very slow, taking several seconds.

	  If in doubt, say N.
